<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
</head>
<body>

<div layout:fragment="content">
    <form class="form-signin" method="post" th:action="@{/registration}" th:object="${user}">
        <h2 class="form-signin-heading" th:text="#{reg.title}"></h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" th:field="*{login}"/>
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
</html>